
  <mat-card fxFlex="80%" id="matCard">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-around center" class = "matCardHeader">
      <mat-card-title class ="cardTitle">My Todo List</mat-card-title>
      <mat-card-subtitle>Nombre de tâche : {{todos.length}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel [ngClass]="{'progress' : true}">
          <mat-expansion-panel-header  class = "expansionHeader">
            <mat-panel-title>
                Tache en progression : {{progressNumber}}
            </mat-panel-title>
          </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="divColumn">
              <div *ngFor= "let todo of tabProgress" fxLayout="row" fxFlex class="todoContainer">
                <div *ngIf = "todo.etat === 'In progress'" id="flex">
                  <div fxFlex>
                    {{todo.titre}}
                  </div>
                  <div fxFlex>
                    {{todo.etat}}
                  </div>
                  <div fxFlex fxLayout="row" fxLayoutAlign="space-evenly stretch">
                    <button mat-raised-button matTooltip="View" matTooltipPosition="below" routerLink="/todoDetail/{{todo.id}}"
                      routerLinkActive="active" class= "view">
                      <i class="material-icons">
                        visibility
                      </i>
                    </button>
                  </div>
                  <div fxFlex>
                    <mat-checkbox color="primary" matTooltip="Check if it's done !" matTooltipPosition="below" (change)="updateStateDone(todo)">Finish</mat-checkbox>
                  </div>
                 </div>
              </div>
            </div>
          </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel [ngClass]="{'waiting' : true}">
          <mat-expansion-panel-header  class = "expansionHeader">
            <mat-panel-title>
              Tache en progression : {{waitingNumber}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="divColumn">
            <div *ngFor= "let todo of tabWaiting" fxLayout="row" fxFlex class="todoContainer">
              <div *ngIf = "todo.etat === 'Waiting'" id="flex">
                <div fxFlex>
                  {{todo.titre}}
                </div>
                <div fxFlex>
                  {{todo.etat}}
                </div>
                <div fxFlex fxLayout="row" fxLayoutAlign="space-evenly stretch">
                  <button mat-raised-button matTooltip="View" matTooltipPosition="below" routerLink="/todoDetail/{{todo.id}}"
                    routerLinkActive="active" class= "view">
                    <i class="material-icons">
                      visibility
                    </i>
                  </button>
                </div>
                <div fxFlex>
                  <mat-checkbox color="primary" matTooltip="Check if do it!" matTooltipPosition="below" (change)="updateStateProgress(todo)">To do</mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>

    <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel [ngClass]="{'done' : true}">
            <mat-expansion-panel-header  class = "expansionHeader">
              <mat-panel-title>
                Tache en progression : {{doneNumber}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="divColumn">
              <div *ngFor= "let todo of tabDone" fxLayout="row" fxFlex class="todoContainer">
                <div *ngIf = "todo.etat === 'Done'" id="flex">
                  <div fxFlex>
                    {{todo.titre}}
                  </div>
                  <div fxFlex>
                    {{todo.etat}}
                  </div>
                  <div fxFlex fxLayout="row" fxLayoutAlign="space-evenly stretch">
                    <button mat-raised-button matTooltip="View" matTooltipPosition="below" routerLink="/todoDetail/{{todo.id}}"
                      routerLinkActive="active" class= "view">
                      <i class="material-icons">
                        visibility
                      </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-card-content>

      <div fxLayoutAlign="center center">
          <button mat-raised-button matTooltip="Ajout ticket" matTooltipPosition="below"
          routerLink="/todoAjout" routerLinkActive="active">
            Ajouter un ticket
          </button>
      </div>
      
</mat-card>

